<?xml version="1.0"?>

<launch>
  <arg name="namespace" default="/"/>
  <!-- <arg name="world_file" default="$(find mobile_robot)/worlds/test_map.world"/> -->
  
  <arg name="cmd_timeout" default="0.5"/>

  <!-- Vehicle pose -->
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.1"/>
  <arg name="roll" default="0.0"/>
  <arg name="pitch" default="0.0"/>
  <arg name="yaw" default="0.0"/>

  <param name="use_gui" value="true"/>
  <param name="robot_description" command="$(find xacro)/xacro.py --inorder '$(find mobile_robot)/urdf/mobile_robot.urdf'" /> 

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="true" />
    <!-- <arg name="world_name" value="$(arg world_file)"/> -->
  </include>


  <node  name="joint_state_publisher"  pkg="joint_state_publisher"   type="joint_state_publisher" />
  <node  name="robot_state_publisher"  pkg="robot_state_publisher"   type="robot_state_publisher" />

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model mobile_robot -param robot_description"/> 

  <node name="vehicle_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mobile_robot)/rviz/slam.rviz"/>
  <node pkg="mobile_robot" type="cmd_vel_reverse_node" name="cmd_vel_reverse_node" output="screen"/>

</launch>
