<?xml version="1.0"?>

<launch>

  <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" respawn="false" output="screen">
     <param name="scan"             value="scans"/>
     <param name="odom_frame"             value="odom"/>
     <param name="base_frame"             value="base_footprint"/>
  </node> 
</launch>
